#!/bin/bash
#
# platform = multi_platform_ubuntu
# check-import = stdout
# complex-check = AND
#
# "Copyright 2021 Canonical Limited. All rights reserved."
#
#--------------------------------------------------------

set -u

GROUP="privileged"

auditctl -l -k "$GROUP" |\
    grep -Eq '^-a always,exit.*-F path={{{ PATH }}}.*-F auid>={{{ auid }}}.*-F auid!=(-1|unset)'\
    || exit ${XCCDF_RESULT_FAIL}

exit ${XCCDF_RESULT_PASS}
