# platform = multi_platform_all

{{{ bash_pam_faillock_enable() }}}

{{% if EXT_VARIABLE is defined %}}
{{{ bash_instantiate_variables(EXT_VARIABLE) }}}
{{{ bash_pam_faillock_parameter_value(PRM_NAME, '$'+EXT_VARIABLE) }}}
{{% endif %}}